@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
}
.spicon img{
    width: 45px;

}
.spicon{
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    margin-left: 12px;
    /* margin-top: 5px;  */
    color: white;
    display: flex;
    cursor: pointer;
}
.container1{
    /* position: sticky; */
    height: 100vh;
    width: 15vw;
    background-color: black;

}

nav{
    margin-top: 25px;
    margin-left: 50px;
    color: white;
    font-family:'Nunito', sans-serif;;
    line-height: 40px;
    cursor: pointer;
}

.container2{
    background-image: url(kabir_singh.jpg) ;
    position: sticky;
    /* background-color: red; */
    margin-left:15%;
    margin-top: -48.5%;
    /* margin-bottom: 50px; */
    
    height: 88vh;
    width: 85vw;
}
.container2 h1{
    color: white;
    margin-top: 2%;
    margin-left: 20%;
    font-family:'Nunito', sans-serif;
    font-size: 40px;

}
.far{
    cursor: pointer;
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 33px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

#myProgressBar{
    width: 80vw;
    /* margin-left: 30%;*/
    margin-top:3%
}

.songInfo{
    margin-left: -60%;
    font-family:'Nunito', sans-serif;

}

.container2 .songlist{
    margin-top: 30px;
    margin-left: 6%;
    height: 25px;
    width: 40%;
    border-radius: 30px;
    color: black;
    background-color: white;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: -15px;
    font-family:'Nunito', sans-serif;
    font-size: larger;

}
.last{
    width: 100vw;
    background-color: black;
    height: 8vh; 
    margin-top: -0.9%;
    display: inline-flex;
}